
:root {
  --shadow-light: 0 .3rem .5rem rgba(0,0,0,.4);
  --shadow-big: 1rem 2rem 4rem rgba(0, 0, 0, 0.7);
  --about-color: #4b4b4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

html {
  font-size: 62.5% // 1rem = 10px
}