.sidebar-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.5s;

  &__line {
    width: 100%;
    height: 0.2rem;
    background-color: red;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  }

  .toggle &__line {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .toggle &__line-1 {
    transform: rotate(45deg) translate(0.3rem, 0.8rem);
  }

  .toggle &__line-2 {
    opacity: 0;
    visibility: hidden;
  }

  .toggle &__line-3 {
    transform: rotate(-45deg) translate(0.3rem, -0.8rem);
  }

  & span {
    position: absolute;
    left: 5rem;
    width: 6rem;
    height: 2.5rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    &::before {
      content: "";
      position: absolute;
      border-left: 1rem solid transparent;
      border-right: 1rem solid red;
      border-bottom: 1.2rem solid transparent;
      border-top: 1.2rem solid transparent;
      top: 50%;
      left: -2rem;
      transform: translateY(-50%);
    }
  }

  .toggle &:hover span {
    opacity: 1;
    visibility: visible;
  }
}

.toggle .sidebar-menu {
  right: 33rem;
}

.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.4s;
  z-index: 5;
}

.toggle .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 30%;
  left: 25.5%;
  translate: translate(-50%, -50%);

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__link {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    color: #555;
    position: relative;

    &::before {
      content: attr(data-content);
      position: absolute;
      top: 0;
      left: 0;
      color: red;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: width 0.3s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;

  & i {
    font-size: 2.2rem;
    margin: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: red;
    }
  }
}

.btn {
  width: 20rem;
  height: 7rem;
  padding: 5px 7px;
  border-radius: 100px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  text-shadow: var(--shadow-light);
  box-shadow: var(--shadow-big);
  transition: transform 0.3s;
  opacity: 0;
  animation: moveCover 1s 0.8s forwards;

  &:hover {
    background-color: red;
  }

  &:active {
    transform: translateY(4px) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
  }
}

.btn-small {
  width: 12rem;
  height: 4rem;
  padding: 4px 6px;
  border-radius: 100px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  text-shadow: var(--shadow-light);
  box-shadow: var(--shadow-big);
  transition: transform 0.3s;

  &:hover {
    background-color: red;
  }

  &:active {
    transform: translateY(4px) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
  }
}

.btn-submit {
  &,
  &:link,
  &:visited {
    width: 12rem;
    height: 4rem;
    padding: 4px 6px;
    border-radius: 100px;
    border: none;
    margin-top: 2rem;
    background-color: #4b4b4bbe;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    text-shadow: var(--shadow-light);
    box-shadow: var(--shadow-big);
    transition: transform 0.3s;
    display: inline-block;
    position: relative;
  }
  &:hover {
    background-color: red;
  }

  &:active {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
    transform: translateY(4px) !important;
  }
}
